<mat-grid-list cols='3' rows='2' class='full-height' rowHeight='50%'>
  <mat-grid-tile id='codeTile' rowspan='2'>
    <code-input (reportClick)='getReport($event)' [visualizeMode]='visualizeMode'></code-input>
  </mat-grid-tile>
  <mat-grid-tile colspan='2'>
    <output-results [visualizeMode]='visualizeMode' [report]='report'></output-results>
  </mat-grid-tile>
  <mat-grid-tile colspan='2'>
    <detailed-view [report]='report'></detailed-view>
  </mat-grid-tile>
</mat-grid-list>
<div class="overlay" *ngIf='loading'>
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</div>
