<mat-card>
  <mat-card-title>Code Input</mat-card-title>
  <mat-card-content>
    <mat-form-field style='min-width: 500px;'>
      <mat-label>Choose example for input 1</mat-label>
      <mat-select (selectionChange)='handleExample($event)'>
        <mat-option *ngFor="let example of examples; index as i" [value]="example">
          Example {{i + 1}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style='min-width: 500px;font-family: "Courier New"'>
      <mat-label *ngIf='!visualizeMode'>Code Input 1</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="20" [(ngModel)]="code[0]" #codeView (keydown)="processTab($event)"></textarea>
    </mat-form-field>
    <span *ngIf='!visualizeMode'>
      <mat-form-field style='min-width: 500px;'>
        <mat-label>Choose example for input 2</mat-label>
        <mat-select (selectionChange)='handleExample($event, 1)'>
          <mat-option *ngFor="let example of examples; index as i" [value]="example">
            Example {{i + 1}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style='min-width: 500px;font-family: "Courier New"'>
        <mat-label>Code Input 2</mat-label>
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" cdkAutosizeMaxRows="20" [(ngModel)]="code[1]" #codeView (keydown)="processTab($event, 1)"></textarea>
      </mat-form-field>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <mat-form-field class='padded'>
        <mat-label *ngIf='visualizeMode'>Upload file to use</mat-label>
        <mat-label *ngIf='!visualizeMode'>Input 1 file</mat-label>
        <ngx-mat-file-input (change)='processFile($event)'></ngx-mat-file-input>
      </mat-form-field>
      <mat-form-field class='padded' *ngIf='!visualizeMode'>
        <mat-label *ngIf='!visualizeMode'>Input 2 file</mat-label>
        <ngx-mat-file-input (change)='processFile($event, 1)'></ngx-mat-file-input>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button (click)="visualizeClick.emit(code[0])" *ngIf='visualizeMode'>Visualize</button>
      <button mat-raised-button (click)="reportClick.emit(code)" *ngIf='!visualizeMode'>Get Report</button>
      <button mat-raised-button (click)="toggleVisualization()">Toggle Mode</button>
    </div>
  </mat-card-actions>
  <mat-card-footer *ngIf='visualizeMode'>
    Imports:
    <ul>
      <li *ngFor='let element of imports | keyvalue'>{{element.key}} > {{element.value}}</li>
    </ul>
  </mat-card-footer>
</mat-card>
